## aclu/searchjira/templates/dashboards.html 
# extends "base.html" 

# import "lists.html" as lists 
# import "utils.html" as utils 

# block title 
    # if props.title:
        searchjira for dashboards with - {{props.title}}
    # else:
        searchjira for dashboards with - no title given 
    # endif
# endblock title  
#block head 
    {{super()}}
# endblock head  
# block body
    {{ lists.unordered(props.searchParameters, props.heading )}}
    <p> {{utils.strOrHref("I'm too sexy for this body")}} </p>
# endblock 

## end of file 