## aclu/uiTest/templates/lists.html 
# extends "base.html" 

# block title 
    # if props.title:
        {{props.title | safe}}
    # else:
        {{super()}}
    # endif
# endblock title  
#block head 
    {{super()}}
# endblock head  
# block body
    {{ props.mainHeading | safe }}
    {{ props.supplies.heading | safe }}
    {{ props.supplies.list | safe }}
    {{ props.orderOfOps.heading | safe }}
    {{ props.orderOfOps.list | safe }}
    {{ props.details.heading | safe }}
    {{ props.details.list | safe }}
# endblock body  

## end of file 