<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    # block head
        <title>
            # block title
            #endblock
        </title>
        <meta name="description" content="base template for ACLU apps">
    # endblock 
</head>

<body>
    <h1> {{self.title()}} </h1>
    <!-- your content here... -->
    # block body 
    #endblock 
    <!-- your JavaScript goes here, keep it minimal please.
    <script src="js/scripts.js"></script>
    -->
</body>

</html>
## end of file 