<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    # block head
            # block title
            <title> Default ACLU App Title - is this really what you want?</title>
            #endblock title 
        <meta name="description" content="base template for ACLU apps">
    # endblock head 
</head>

<body>
    <!-- your content here... -->
    # block body 
    #endblock body 
    <!-- your JavaScript goes here, keep it minimal please.
    <script src="js/scripts.js"></script>
    -->
</body>
</html>
## end of file 