{#  aclu/ui/templates/utils.html
    collection of smaller elements generally used within other elements
#}


# macro createHeading(heading)
    <{{heading.getTagName() | safe}} {{heading.getIdAttribute() | safe}} {{heading.getClassAttribute() | safe}}> {{ heading.text }} </{{heading.getTagName() | safe}}>
# endmacro 


# macro createAnchor(href)
    <{{href.getTagName()}} href="{{href.href}}"> {{href.text}} </{{href.getTagName()}}>
# endmacro


# macro strOrHref(data)
    # if data is string:
        {{data}}
    # else: 
        {{createHref(data)}}
    # endif
# endmacro 


## end of file 