{#  aclu/ui/templates/utils.html
    collection of smaller elements generally used within other elements
#}


# macro createHeading(heading)
    {{heading}}
    ## <{{heading.getTagName() | safe}} {{heading.getIdAttribute() | safe}} {{heading.getClassAttribute() | safe}}> {{ heading.text }} </{{heading.getTagName() | safe}}>
# endmacro 


# macro createAnchor(anchor)
    {{anchor}}
    ## <{{anchor.getTagName()}} href="{{anchor.href}}"> {{anchor.text}} </{{anchor.getTagName()}}>
# endmacro


## end of file 